<div class="row mt-5 pt-3">
  <div class="col-md-6 offset-md-3">
    <%= content_tag :h4, 'Log In', class: 'text-center' %>

    <%= form_for(:user, url: authenticate_path) do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>

      <%= f.submit 'Log In', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>

