<div class="row mt-3">
  <div class="col-md-6 offset-md-3">

    <%= form_for @user do |f|%>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: 'username', class: 'form-control' %>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label 'Confirm Password' %>
          <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control' %>
        </div>
      </div>

      <p>
        <%= f.submit 'Sign Up', class: 'btn btn-primary btn-block'%>
      </p>
    <% end %>

  </div>
</div>
