<%= content_tag :h3, book.name, class: 'text-primary' %>
<%= content_tag :p, book.author %>
<p class="font-weight-light">
  <small>
    Added by <%= book.owner.full_name %> |
    <%= pluralize(book.reviews.size, 'comment') %> |
    <%= pluralize(book.likes.size, 'like') %>
  </small>
 </p>
