<h1>Books#show</h1>

<%= render 'book', book: @book %>

<% if current_user.liked?(@book) %>
  <%= link_to 'Unlike', unlike_book_path(@book, current_user.like(@book)), method: :delete %>
<% else %>
  <%= link_to 'Like', like_book_path(@book), method: :post %>
<% end %>

<% if current_user == @book.owner %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Delete', book_path(@book), method: :delete %>
<% end %>


<h3>Say something about this book</h3>
<%= form_for(:review, url: book_reviews_path(@book)) do |f| %>
  <%= f.text_area :comment, size: '25x5' %> <br>
  <%= f.submit 'Post' %>
<% end %>

<h3>Other Reviews</h3>

<%= render @book.reviews %>
