
<div id="book-details">
  <%= render @book %>
</div>

<div class="book-actions">
  <%= render 'actions', book: @book %>
</div>

<hr>

<h5 class="mt-5">Say something about this book</h5>
<%= form_for(:review, url: book_reviews_path(@book), remote: true) do |f| %>
  <%= f.text_area :comment, size: '25x5', class: 'form-control' %> <br>
  <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>

<br>
<hr>

<h5 class="mt-5">Other Reviews</h5>

<div id="reviews">
  <%= render @book.reviews %>
</div>
