<div>
  <%= review.reviewer.full_name %> said
  <p>
    <%= simple_format review.comment %>
  </p>
  <em><%= time_ago_in_words review.created_at %> ago</em>

  <% if current_user == review.reviewer %>
    <p>
      <%= link_to 'Delete', book_review_path(review.book, review), method: :delete %>
    </p>
  <% end %>

  <p>
    <%= pluralize review.likes.size, 'Like' %> |
    <% if current_user.liked?(review) %>
      <%= link_to 'Unlike', unlike_book_review_path(review.book, review, current_user.like(review)), method: :delete %>
    <% else %>
      <%= link_to 'Like', like_book_review_path(review.book, review), method: :post %>
    <% end %>
  </p>
</div>
<br>
