<div>
  <%= review.reviewer.full_name %> said
  <p>
    <%= simple_format review.comment %>
  </p>
  <em><%= time_ago_in_words review.created_at %> ago</em>
  <p>
    <%= link_to 'Delete', book_review_path(review.book, review), method: :delete %>
  </p>

  <p>
    <%= pluralize review.likes.size, 'Like' %> |
    <% if current_user.liked?(review) %>
      <%= link_to 'Unlike', book_review_like_path(review.book, review, current_user.like(review)), method: :delete %>
    <% else %>
      <%= link_to 'Like', book_review_likes_path(review.book, review), method: :post %>
    <% end %>
  </p>
</div>
<br>
